@import "variables.styl"
@import "mixins.styl"
@import "reset.styl"
  
body
  background wheat
  font fontSize workSans 
  width 100vw
  border 1px solid red
  display flex
  flex-direction column
  align-items center
  justify-content space-between
  color primaryGreen !important