@import "variables.styl"
@import "mixins.styl"
@import "reset.styl"
  
body
  background wheat
  font fontSize workSans 
  padding-top 70px
  width 100vw
  border 1px solid red
  display flex
  flex-direction column
  align-items center
  justify-content space-between
  color primaryGreen

#app
  width 100%

header, main, footer
  width 100%