// Fonts
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

workSans = 'Work Sans', sans-serif
syne = 'Syne', sans-serif
h1Size = 61px
h2Size = 55px
h3Size = 40px
h4Size = 34px
fontSize = 22px

weight500 = 500
weight600 = 600
weight700 = 700
weight800 = 800
weight900 = 900

primaryGreen = #213D34
secondaryGreen = #D9EF78
backgroundLight = "#F1F2ED"